# Python packages - install all at once with: pip install -r requirements.txt
# or try: pip3 install -r requirements.txt if pip is not working
openai-whisper
sounddevice
scipy
pyttsx3
openai
numpy
python-dotenv
pvporcupine
pyaudio
